<header>
    <div class="navbar-region">
        <div class="left-area">
            <div class="title" (click)="redirectToHome()">
                <img class="cursor-pointer" src="http://localhost:4200/assets/images/books.png" alt="">
                <h4>Reading Books Online</h4>
            </div>
            <div class="discover" appToggleDiscover>
                <h4>Discover <i class="fa-solid fa-caret-down"></i></h4>
                <div class="genres-group" (click)="handleButtonClick($event)">
                    <div class="genres">
                        <h4>Genres</h4>
                    </div>

                </div>
            </div>

            <div class="search-area">
                <div class="search-box">
                    <input type="text" placeholder="Search...">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="login-area" *ngIf="!userData">
            <button id="login" (click)="toggleLogin()">Login</button>
        </div>
        <div *ngIf="userData" class="flex justify-center items-center font-medium">
            <span>{{userData}}</span>
            <span class="flex justify-center items-center hover:bg-gray-100 cursor-pointer" (click)="logout()">
                <ng-icon name="heroArrowRightOnRectangle" size="24px" class="hover:text-blue-400"></ng-icon>
            </span>
        </div>

    </div>
    <div class="header-background">
        <div class="title">
            Welcome to Reading Books Online
        </div>
        <div class="desc">
            Where thousands of wonderful works await your discovery, anytime, anywhere. Immerse yourself in the magic of
            each page, and experience the joy of reading at your fingertips.
        </div>
    </div>
</header>

<app-login></app-login>


<div class="container">
    <router-outlet></router-outlet>
</div>
<footer>
</footer>